In [1]:
import pandas as pd
import numpy as np
import os
import random

In [4]:
DATADIR="/home/jovyan/DATA/Numerics/mimic2/bp/subjects"
data=os.listdir("/home/jovyan/DATA/Numerics/mimic2/bp/subjects")

In [5]:
with open(os.path.join(DATADIR, random.choice(data))) as f0:
    values=f0.readlines()

In [6]:
type(values), len(values)

(list, 436)

In [21]:
values_part2=[for line in values]#he also got an error

SyntaxError: invalid syntax (<ipython-input-21-604fefed1568>, line 1)

In [8]:
values[:4]

['97\t57\n', '106\t60\n', '110\t58\n', '90\t50\n']

In [10]:
values[1]

'106\t60\n'

In [11]:
values[1].split(",")

['106\t60\n']

In [14]:
for line in values[:5]:
    print(line.split())

['97', '57']
['106', '60']
['110', '58']
['90', '50']
['104', '57']

In [16]:
for line in values[:5]:
    l =line.split()
    for ll in l:
        print(float(ll), end=",")
        print()

97.0,
57.0,
106.0,
60.0,
110.0,
58.0,
90.0,
50.0,
104.0,
57.0,

In [19]:
mydata=[]
for line in values [:5]:
    l =line.split()
    nums=[float(ll) for ll in l]
    mydata.append(nums)
    print(mydata)
    
    print(l)
    #l-variable

[[97.0, 57.0]]
['97', '57']
[[97.0, 57.0], [106.0, 60.0]]
['106', '60']
[[97.0, 57.0], [106.0, 60.0], [110.0, 58.0]]
['110', '58']
[[97.0, 57.0], [106.0, 60.0], [110.0, 58.0], [90.0, 50.0]]
['90', '50']
[[97.0, 57.0], [106.0, 60.0], [110.0, 58.0], [90.0, 50.0], [104.0, 57.0]]
['104', '57']

In [28]:
fname= 'Accidents7904.csv'
with open(os.path.join("/home/jovyan/DATA/Misc/", fname)) as f0:
    accident_values = f0.readlines(500000)

In [29]:
len(accident_values)

4281

In [31]:
accident_values[10]

'197901A1FBK75,136380,245000,NULL,NULL,1,3,2,1,01/01/1979,2,05:05,27,9999,4,455,9,30,0,-1,-1,0,-1,-1,4,8,3,-1,0,-1,-1,\n'

In [32]:
accident_values[10].split(",")
#split data

['197901A1FBK75',
 '136380',
 '245000',
 'NULL',
 'NULL',
 '1',
 '3',
 '2',
 '1',
 '01/01/1979',
 '2',
 '05:05',
 '27',
 '9999',
 '4',
 '455',
 '9',
 '30',
 '0',
 '-1',
 '-1',
 '0',
 '-1',
 '-1',
 '4',
 '8',
 '3',
 '-1',
 '0',
 '-1',
 '-1',
 '\n']

In [27]:
for h in accident_values[0].split(","):
    print(h)
    #we have index

﻿Accident_Index
Location_Easting_OSGR
Location_Northing_OSGR
Longitude
Latitude
Police_Force
Accident_Severity
Number_of_Vehicles
Number_of_Casualties
Date
Day_of_Week
Time
Local_Authority_(District)
Local_Authority_(Highway)
1st_Road_Class
1st_Road_Number
Road_Type
Speed_limit
Junction_Detail
Junction_Control
2nd_Road_Class
2nd_Road_Number
Pedestrian_Crossing-Human_Control
Pedestrian_Crossing-Physical_Facilities
Light_Conditions
Weather_Conditions
Road_Surface_Conditions
Special_Conditions_at_Site
Carriageway_Hazards
Urban_or_Rural_Area
Did_Police_Officer_Attend_Scene_of_Accident
LSOA_of_Accident_Location

In [34]:
pd.read_csv?

In [42]:
accidents2=pd.read_csv(os.path.join("/home/jovyan/DATA/Misc/", fname), nrows=4000)
accidents2.head()

,﻿Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,197901A11AD14,NaN,NaN,NaN,NaN,1,3,2,1,18/01/1979,...,-1,-1,1,8,1,-1,0,-1,-1,NaN
1,197901A1BAW34,198460,894000,NaN,NaN,1,3,1,1,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
2,197901A1BFD77,406380,307000,NaN,NaN,1,3,2,3,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
3,197901A1BGC20,281680,440000,NaN,NaN,1,3,2,2,01/01/1979,...,-1,-1,4,8,3,-1,0,-1,-1,NaN
4,197901A1BGF95,153960,795000,NaN,NaN,1,2,2,1,01/01/1979,...,-1,-1,4,3,3,-1,0,-1,-1,NaN

In [45]:
accidents2=pd.read_csv(os.path.join("/home/jovyan/DATA/Misc/", fname), nrows=4000)
accidents2.tail()

,﻿Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
3995,197901B3XGQ01,334960,821000,NaN,NaN,1,3,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3996,197901B3XHD35,368880,975000,NaN,NaN,1,2,3,7,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3997,197901B3XKD53,521780,273000,NaN,NaN,1,2,2,3,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3998,197901B3XLC98,316070,448000,NaN,NaN,1,2,2,2,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN
3999,197901B3XLD88,507570,468000,NaN,NaN,1,2,1,1,03/02/1979,...,-1,-1,4,8,1,-1,0,-1,-1,NaN

In [48]:
from collections import Counter
word_counter = Counter(TextBlob(all_text).words)

NameError: name 'TextBlob' is not defined

In [ ]:
word_counter.most_common(50)